.nut-price {
  font-size: $font-size-small;
  display: inline;
  .price-symbol {
    font-size: $font-size-small;
  }
  .price-big {
    font-size: $font-size-large;
  }
  .price-small {
    font-size: $font-size-small;
  }
}
